
* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

html, body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#app {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}