

.home-graphic {
    overflow: hidden;
}
    .home-graphic .jarallax-content {
        background: rgba( 0 , 101 , 155 , 0.8);
        height: 100%;
    }

    .home-graphic .text {
        text-align: center;
    }
        .home-graphic h2 {
            padding: 140px 0px 10px 0px;
            margin: 0px 0px 0px 0px;
            font-size: 24px;
            color: #ffffff;
        }
        .home-graphic p {
            color: #dddddd;
        }