

.breadcrumbs {

}
    .breadcrumbs ul {
        display: inline-block;
        margin: 10px 0px 10px 0px;
        padding: 0px 0px 0px 0px;
        list-style: none;
    }
        .breadcrumbs ul li {
            display: inline-block;
            padding: 0px 5px 0px 0px;
            font-size: 13px;
        }
            .breadcrumbs ul li:after {
                content: " >";
            }
            .breadcrumbs ul li:last-child:after {
                content: "";
            }
            .breadcrumbs ul li span {
                font-size: 13px;
            } 
            .breadcrumbs ul li a {
                text-decoration: none;
                font-size: 13px;
            }  
                .breadcrumbs ul li a span {
                    font-size: 13px;
                }  
                .breadcrumbs ul li a:hover {
                    text-decoration: underline;
                }